/* Global styles */
body {
    font-family: 'Calibri', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header Section */
header {
    color: black;
    background-color:grey;
    padding: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.tophead {
    margin: 0;
    font-size: 2rem;
    text-align:center;
}

nav {
    margin-top: 10px;
    text-align: center
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff6b6b;
}

/* Hero Section */
#hero {
    background: url('tetela.jpeg') no-repeat center center/cover;
    color: black;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 20px auto;
}

#hero a {
    padding: 10px 20px;
    background-color: #6b90ff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

#hero a:hover {
    background-color: #3063fa;
}

/* Section Styling */
section {
    padding: 50px 20px;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}


/* Footer Section */
footer {
    background-color: #2d2d2d;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    #hero h2 {
        font-size: 2rem;
    }

    #hero p {
        font-size: 1rem;
    }

    nav a {
        margin-right: 10px;
        font-size: 0.9rem;
    }

    section h2 {
        font-size: 2rem;
    }

    section p {
        font-size: 1rem;
    }
}
